PORT=3000
NODE_ENV=development

DB_URL=mongodb+srv://<db_username>:<db_password>@cluster0.l21eara.mongodb.net/RemoteInterview_db?appName=Cluster0

INNGEST_EVENT_KEY=EcUVbxP8Uvb6md6MkT73d2tulJ8vUXen37X7WJrI8rBeIFNclw9ukdhURHVYWqVh_5g1faXli0ckmGWa-Y1ZAAy
INNGEST_SIGNING_KEY=signkey-prod-9d8cd55a0a6f3214e71d33e5a0777c62da39752ea464f216c418318a09fa0fcd

STREAM_API_KEY=uq29wpax7nzu
STREAM_API_SECRET=bavxw7gq4u8fxk4pnkhu5qcurauuux9n9bumj82e3k6yagtfjgy6yazrmkfpjm5s


CLERK_PUBLISHABLE_KEY=pk_test_ZmFpdGhmdWwtb2NlbG90LTk0NDAuY2xlcmsuYWNjb3VudHMuZGV2JA
CLERK_SECRET_KEY=sk_test_1m9mK2XoeTsfMUC2wOoyt9ldreuduCVKsgyYuHzMco

CLIENT_URL=http://localhost:5173